# Data Science Tools and Ecosystem

_In this notebook, Data Science Tools and Ecosystem are summarized_

#### Some of the popular languages that Data Scientists use are:
* Python
* R
* SQL

#### Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* SciPy

### Data Science Tools
| Data science Tools |
| ---- |
| Matlab |
| Tensor Flow
| Python |

### Below are a few examples of evaluating arithmetic expressions in Python

In [18]:
print("This a simple arithmetic expression to mutiply then add integers") 
(3*4)+5

This a simple arithmetic expression to mutiply then add integers

17

In [19]:
print("This will convert 200 minutes to hours by diving by 60")
(200/60)

This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## **Objectives**

**Popular languages for Data Science**

* Python
* R
* SQL
* Scala
* Java

## Sid Tirodkar